@model IEnumerable<VacationLabb1.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Personal</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th>mail</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-info">info</a>
                    <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
